body{
    text-align: center;
    margin-top: 40vh;
}

#Btn_Escuro, #Btn_Claro{
    background-color: gray;
    padding: 40px;
    margin-right: 15px;
    border-radius: 75px;
    cursor: pointer;
}

#Btn_Escuro:hover{
    border-color:  rgb(250, 250, 29);
    background-color: #0e0b0b;
    transform: scale(1.1);
    transition: all 0.5s ease-in;
}

#Btn_Claro:hover{
    border-color:  rgb(250, 250, 29);
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: all 0.5s ease-in;
}

#sol, #lua{
    width: 45px;
    height: 45px;
}